@import './vars';

* {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea,
input[type='text'] {
    -webkit-appearance: none;
    border-radius: 0;
}

html,
#root {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $light;
    color: $dark;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    max-height: 100%;
}

svg {
    margin-right: 0.5rem;
}

button {
    background: inherit;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 500;
}

form {
    margin: 0 1rem;

    h2 {
        margin: 1rem 0;
    }

    .form-submit {
        margin: 3.5rem 0 1.5rem;
        display: flex;
        justify-content: center;
    }

    .form-input {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }

    label {
        margin-bottom: 0.5rem;
        font-weight: 700;
    }

    input:not([type='submit']) {
        font-size: 1.25rem;
        border-bottom: 1px solid #000;
        border-top: none;
        border-right: none;
        border-left: none;
    }

    input:focus {
        outline: none;
        border-bottom-color: $accent;
    }

    input[type='radio'] {
        display: none;
    }

    .radio-container {
        cursor: pointer;
        user-select: none;
        position: relative;
        padding-left: 34px;
        margin: 1rem 0;
        label {
            font-weight: 400;
        }

        .radio {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-color: $grey;
            position: absolute;
            border-radius: 50%;
            left: 0;
            top: -3px;
        }

        input:checked + .radio {
            background-color: $accent;
        }
    }
}

form input[type='submit'],
.primary-button {
    background-color: $accent;
    border-radius: 16px;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.25rem 2rem;
    font-weight: 700;
    border-color: transparent;
}

.page {
    flex: 1 1 auto;
    overflow: auto;
    display: flex;
    flex-direction: column;

    &.centered {
        justify-content: center;
        align-items: center;
    }
}

.truncate {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.secondary-button {
    border: 1px solid $dark;
    border-radius: 16px;
    font-size: 1.25rem;
    padding: 0.25rem 2rem;
}
