@import './vars.scss';

.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-bottom: 1px solid $dark;
    flex: 0 1 auto;

    button {
        width: 24px;
        height: 24px;
        padding: 0;
        border: none;
        background: inherit;
        img {
            height: 100%;
            width: 100%;
        }
    }

    .back-button {
        position: absolute;
        left: 16px;
        top: 18px;
    }

    h1 {
        font-size: 1.5rem;
        margin: 0;
    }

    .action-button {
        right: 16px;
        top: 18px;
        position: absolute;
    }
}
