@import './vars.scss';

.profile-content {
    flex: 1 0 auto;
}

.profile-details {
    display: flex;
    align-items: center;
    border: 1px solid $dark;
    border-radius: 8px;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    svg, img {
        height: 100px;
        margin-right: 1rem;
    }

    img {
        border-radius: 50%;
    }

    p {
        margin: 0;
    }
}

.profile-name {
    font-size: 1.125rem;
}

.profile-actions {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

    button {
        border: none;
        display: flex;
        justify-content: space-between;
        font-size: 1.125rem;
        margin: 0 1rem;
        padding: 0.5rem 0;

        svg {
            margin: 0;
        }
    }

    button + button {
        border-top: 1px solid $dark;
    }
}

.profile-image {
    margin: 2rem 0;
    label {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    svg, img {
        height: 100px;
    }

    img {
        border-radius: 50%;
    }

    .image-upload {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
}